{% extends "app_base.html" %}

{% block content %}

<!-- template for the pieces component. -->
<script type="text/x-template" id="pieces-template">
  <g>
    <split-box
      v-for="(stat, index) in stats"
      :stat="stat"
      :key="stat.id" :choice="choice" :movestep="movestep">
    </split-box>
  </g>
</script>

<!-- template for the split box component. -->
<script type="text/x-template" id="split-box-template">
  <rect class='resize-drag' :x="stat.x" :y="stat.y" :width="stat.width" :height="stat.height" :stroke="strokeColor" fill="transparent" stroke-width="1" @click.prevent="choice(stat)"
    @keyup="movestep($event)" :key="stat.id"></rect>
</script>

<!-- demo root element -->
<div id="demo">
  <!-- Use the component -->
  <svg :width="width" :height="height" @dblclick="add_rect($event)" :view-box="viewbox" preserveAspectRatio="xMinYMin meet">
    <image :xlink:href="image_url" x="0" y="0" :height="height" :width="width" ref="page_image"/>
    <pieces :stats="stats" :choice="choice" :movestep="movestep"></pieces>
  </svg>
  <!-- controls -->
  <div class='controls'>
      <div class='rect-info'>
      <span>坐标: ([[current.x]], [[current.y]])</span>
      <span>[[current.width]]</span>
      <input type="range" v-model="current.width"  min="3" max="150" @change="onChange">
      <span>[[current.height]]</span>
      <input type="range" v-model="current.height" min="3" max="150" @change="onChange">
      </div>
      <button @click="remove(current)" class="small btn btn-primary">删除</button>
      <button @click="addnew()" class="small btn btn-primary">新增</button>
      <div class='operations'>
        <button  @click="submit()" class="small btn btn-primary">提交</button>
      </div>
  </div>
</div>


<ul class="pager">
  <li class="previous disabled"><a href="#">&larr; Older</a></li>
  <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>
{% endblock %}


{% load static %}
{% block base_foot_script %}
<script>
function getCookie(name) {
  let arr,
      reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)")
  if(arr=document.cookie.match(reg)) {
    return decodeURIComponent(arr[2])
  }
}

// 设置 POST 请求时 的 data 格式
//Vue.http.options.emulateJSON = true

// 设置 X-CSRFToken
Vue.http.interceptors.push(function(request, next) {
  //request.method = 'POST'
  request.headers.set('X-CSRFToken', getCookie('csrftoken'))
  next()
})


var page_id="{{ page_id }}";
Vue.config.delimiters = ["[[", "]]"];
// A resusable polygon graph component
Vue.component('pieces', {
  props: ['stats', 'choice', 'movestep'],
  template: '#pieces-template',
  components: {
    // a sub component for the labels
    'split-box': {
      props:  ['stat', 'index', 'total', 'choice', 'movestep'],
      template: '#split-box-template',
      computed: {
        strokeColor: function() {
          if (this.stat.op == 3){
            return "white"
          } else if (this.stat.selected) {
            return "red"
          } else if (this.stat.op == 1){
            return "yellow"
          }
          else if (this.stat.op == 0){
            return "blue"
          } else if (this.stat.op == 2){
            return "green"
          }
        }
      }
    }
  },
  created() {
    var that = this;
    document.addEventListener('keydown', this.movestep);
    interact('.resize-drag')
    .resizable({
        edges: { left: true, right: true, bottom: true, top: true },
        onend:  function (event) {
          window.vv.$emit('resizend', event)
        }
    })
    .on('resizemove',function (event) {
       window.vv.$emit('resize', event)
    })
    .draggable({
        // enable inertial throwing
        inertia: true,
        // keep the element within the area of it's parent
        restrict: {
            restriction: "parent",
            endOnly: true,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
        },

        // call this function on every dragmove event
        onmove: function (event) {
            window.vv.$emit('drag', event)
        },
        // call this function on every dragend event
        onend: function (event) {
            window.vv.$emit('dragend', event)
        }
    });
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.movestep)
  }
});

// bootstrap the demo
// 0 init, 1 new, 2 modify, 3 delete
window.vv = new Vue({
  el: '#demo',
  delimiters: ['[[', ']]'],
  data: {
    newLabel: '',
    id: 1,
    stats: [],//,
    api_base: "/",
    image_url: "",
    activeState: 0,
    current: {},
    width: 1,
    height: 1
  },
  mounted: function() {
    this.loadPage(page_id);
    var that = this;
    this.$on('resize', this.update_rect);
    this.$on('drag', this.drag_rect);
    this.$on('resizend', this.actionend);
    this.$on('dragend', this.actionend);
  },
  computed: {
    viewbox: function() {
      return [0, 0, this.width, this.height].join(' ')
    }
  },
  watch: {

  },
  methods: {
    submit:function (){
      var stats = _.map(_.cloneDeep(this.stats), function(m){ _.unset(m, 'selected');return m;})
      var jsondata = Base64.encode(JSON.stringify(stats))
      var post_data = {id: this.id, jsondata: jsondata}

      var django_api = "/api/pages/"+page_id + "/save_op";//本地接口
      var that = this;
        this.$http.post(django_api, post_data).then(function (response) {
            // success callback

            swal({title: "随喜!", text: "成功提交一个校对!正在加载下一页", timer: 2000, showConfirmButton: true});
          that.loadNextPage(page_id);
        }, function(error) {
          // error callback
          swal("稍等!", "出现一个bug!", "error")

        });
    },
    remove: function (stat) {
      if (this.stats.length > 3) {
        var index = this.stats.indexOf(stat);
        stat.op = 3;
        // Vue.set(this.stats, index, stat);
        Vue.delete(this.stats, index)
        //this.stats.splice(this.stats.indexOf(stat), 1)
      } else {
        alert('Can\'t delete more!')
      }
    },
    addnew: function() {
      var new_id = this.stats[this.stats.length-1].id + 1;
      var ins = {id: new_id, x: this.current.x+30, y: this.current.y+30, width: 30, height: 30, op: 1, confidence: 1, selected: false};
      this.stats.push(ins);
      this.choice(ins);
    },
    add_rect: function(event){
      var new_id = this.stats[this.stats.length-1].id + 1;
      var ins = {id: new_id, x: event.offsetX, y: event.offsetY, width: 30, height: 30, op: 1, confidence: 1, selected: false};
      this.stats.push(ins);
      this.choice(ins);
    },
    unselect: function () {
      if (this.current === null) {
        return;
      }
      index = this.stats.indexOf(this.current);
      if (index == -1) {
        return;
      }
      this.current.selected = false;
      Vue.set(this.stats, index, this.current);
    },
    choice: function(stat) {
      this.unselect();
      this.current = stat
      index = this.stats.indexOf(stat)
      this.activeState= stat.id;
      this.current.selected = true;
      Vue.set(this.stats, index, this.current);
    },
    onChange: function() {
      if (this.current.op != 1 )
      {
        this.current.op = 2
      }
      index = this.stats.indexOf(this.current)
      Vue.set(this.stats, index, this.current);
    },
    loadPage: function(page_id) {
        var json_server_api = this.api_base + 'pages/' + this.id + '?pageid=1&limit=10';//json-server接口
        var django_api = "/api/pages/"+page_id + "/one";//本地接口
        this.$http.get(django_api).then(function (response) {
            // success callback
            //this.image_url = response.data.image_url;
            this.image_url = response.data.image_url;//测试数据
            this.stats = _.map(JSON.parse(Base64.decode(response.data.jsondata)), function(item) { return _.assign({selected: false}, item);});
            this.choice(this.stats[0]);
            this.getImageDimension();
        }, function(error) {
          // error callback
          console.log('Fail，网址或相关错误！\n错误码：' + error.status + "\n结果：" + error.ok);
        });
    },
    loadNextPage: function(p_id) {
        var json_server_api = this.api_base + 'pages/' + this.id + '?pageid=1&limit=10';//json-server接口
        var django_api = "/api/pages/"+p_id + "/next";//本地接口
        var that = this;
        this.$http.get(django_api).then(function (response) {
            // success callback
            //this.image_url = response.data.image_url;
            page_id = response.data.id
            that.image_url = response.data.image_url;//测试数据
            that.stats = _.map(JSON.parse(Base64.decode(response.data.jsondata)), function(item) { return _.assign({selected: false}, item);});
            that.choice(that.stats[0]);
            that.getImageDimension();
            window.history.pushState("", "", '/pages/'+page_id);
            swal("随喜!", "下一页加载入成功!", "success")
        }, function(error) {
          // error callback
          console.log('Fail，网址或相关错误！\n错误码：' + error.status + "\n结果：" + error.ok);
        });
    },
    getImageDimension: function (el, onReady) {

      var image = new Image();
      var that = this;
      image.onload = function(){
          that.height = image.height;
          that.width = image.width;
      };
      image.src = this.image_url;
    },
    movestep: function(ev){
      var current = this.current;
      if (ev.keyCode == 37) //left
      {
        current.x -= 2
      } else if (ev.keyCode == 39) //right
      {
        current.x += 2
      } else if (ev.keyCode == 38) //up
      {
        current.y -= 2
      } else if (ev.keyCode == 40) //down
      {
        current.y += 2
      } else {
        return
      }
      if (current.op !=1 ){
        current.op = 2;
      }
      //bound protection
      if (current.x < 0 || current.y < 0)
      {
        alert('已超出边界');
      }else{
        Vue.set(this.stats, index, this.current);
      }
    },
    update_rect:  function(event){
      var index = this.stats.indexOf(this.current);
      var target = event.target,
      x = (this.current.x  || 0),
      y = (this.current.y || 0);

      // update the element's style
      if ((event.rect.width > 2) && (event.rect.height >2)) {
        this.current.width = parseInt(event.rect.width) ;
        this.current.height = parseInt(event.rect.height) ;
      }


      // translate when resizing from top or left edges
      x += event.deltaRect.left;
      y += event.deltaRect.top;

      // target.style.webkitTransform = target.style.transform =
      //    'translate(' + x + 'px,' + y + 'px)';
      this.current.x = parseInt(x);
      this.current.y = parseInt(y);

      Vue.set(this.stats, this.index, this.current);

    },
    drag_rect: function(event) {
      var target = event.target,
      x = (this.current.x  || 0),
      y = (this.current.y || 0);

      // translate when resizing from top or left edges
      x += event.dx;
      y += event.dy;

      // translate the element
      //target.style.webkitTransform = target.style.transform =
      //  'translate(' + x + 'px, ' + y + 'px)';

      this.current.x = parseInt(x);
      this.current.y = parseInt(y);

      Vue.set(this.stats, this.index, this.current);
    },
    actionend: function(event) {
      console.log("end", this.current.x , this.current.y, this.current.width, this.current.height )
    }
  }
})
</script>
{% endblock %}
