<div class="lt-menu">
    <div class="menu-content">
        <div class="submenu-title">校对</div>
        <div class="m-submenu"><a href='/split_tasks'>置信任务校对</a></div>
        <div class="m-submenu"><a href='/rects'>逐页校对</a></div>
        <div class="m-submenu"><a href='/pages'>整页校对</a></div>
        <!-- <div class="m-submenu"><a href='/pages/verify'>二次校对</a></div> -->

    </div>
    <div class="menu-content">
        <div class="submenu-title">里程碑</div>
        <div class="m-submenu"><a>聚类信息重更新</a></div>
        <div class="m-submenu"><a>六月校对原数据</a></div>
        <div class="m-submenu"><a>文字底稿更新</a></div>
    </div>
    <div class="menu-content">
        <div class="submenu-title">概览</div>
        <div class="m-submenu"><a>统计分析</a></div>
        <div class="m-submenu"><a>更多</a></div>
    </div>
</div>