<div class="lt-menu">
    <div class="menu-content">
        <div class="submenu-title">校对</div>
        <div class="submenu"><p>顺序校对</p></div>
        <div class="submenu active"><p>置信度校对</p></div>
        <div class="submenu"><p>聚类校对</p></div>
    </div>
    <div class="menu-content">
        <div class="submenu-title">里程碑</div>
        <div class="submenu"><p>聚类信息重更新</p></div>
        <div class="submenu"><p>六月校对原数据</p></div>
        <div class="submenu"><p>文字底稿更新</p></div>
    </div>
    <div class="menu-content">
        <div class="submenu-title">概览</div>
        <div class="submenu"><p>统计分析</p></div>
        <div class="submenu"><p>更多</p></div>
    </div>
</div>