<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}切分系统{% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" href="/static/css/registration/base.css">
    <link rel="stylesheet" href="/static/css/registration/user.css">
    <style type="text/css">
      form .help-block {
        display: none;
      }
    </style>
    {% block extrahead %}{% endblock %}
    {% endblock %}
  </head>
  <body>
  <div class="wrapper">
    <div class="header">
      <h1><img style="height: 39px" src="/static/images/favicon.png" alt=""><span class="title" >切分系统</span></h1>
    </div>
    <div class="main w">
          {% block content %}{% endblock %}
    </div>
  </div>
      {% block js %}
      <script src="{% static 'material/js/jquery.js' %}"></script>
      {% include 'material/includes/material_js.html' %}
      {% block extrajs %}{% endblock %}
      {% endblock %}
  </body>
</html>
