{% extends 'registration/base.html' %}
{% block title %} 登录 {% endblock %}

{% block content %}
  <div class="form login">
   <div class="hd">
      <img class="l" src="/static/images/registration/lline-v1.png" alt="">
      <h3><img src="/static/images/registration/title-v1.png" alt=""></h3>
      <img class="r" src="/static/images/registration/rline-v1.png" alt="">
  </div>
   <form method="POST" enctype="multipart/form-data" class="viewform">
    {% csrf_token %}
        <div class="bd">
          <div class="item">
            <input id="id_username" name="username"   maxlength="254"  autofocus="" type="text" placeholder="请输入您的用户名">
          </div>
          <div class="item">
            <input id="id_password" name="password" type="password" placeholder="请输入您的密码">
            <span class="forget">忘记密码?</span>
          </div>
          <div class="item clearfix">
             <input class="filled-in" id="id_keep_logged" name="keep_logged" type="checkbox"><span class="fl rember">保持登录</span>
            <p><span class="fr">还没账号?&nbsp;点我<a href="/accounts/register"><em>注册</em></a></span></p>
          </div>
        </div>
        <button class="btn" type="submit"><img src="/static/images/registration/btn-v1.png" alt=""></button>
      </div>
    </form>
</div>
{% block result %}
{% endblock %}
{% endblock %}