{% extends 'registration/base_form.html' %}
{% load material_form %}
{% load i18n %}

{% block extrahead %}
<style type="text/css">
    {{ form.css }}
</style>
{% endblock %}

{% block formclass %}{{ form.blockclass|default:"col s12 m8 offset-m2 l8 offset-l2" }}{% endblock %}

{% block formtitle %}
    {% load static %}
    <img src="{% static 'images/favicon.ico' %}"/>
    {% trans 'Log in' %}
{% endblock %}

{% block formbody %}
    {% csrf_token %}
    {% include form.template %}
    {% comment %}{% form %}
        {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
        {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
        {% attr form.keep_logged 'group' class append %}right-align{% endattr %}
    {% endform %}{% endcomment %}
{% endblock %}

{% block formbuttons %}
    {% comment %}<a class="waves-effect waves-light btn-flat" href="/accounts/register">{% trans 'Register' %}</a>
    <button class="waves-effect waves-light btn" type="submit">{% trans 'Log in' %}</button>{% endcomment %}
    {% include form.buttons %}
{% endblock %}
