{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
<div class="form reset">
  <div class="hd">
    <img class="l" src="/static/images/registration/lline-v1.png" alt="">
    <h3><img src="/static/images/registration/reset-v1.png" alt=""></h3>
    <img class="r" src="/static/images/registration/rline-v1.png" alt="">
  </div>
  <div class="bd">
    <div class="item">
      <input type="email" name="email" required="" maxlength="254" id="id_email" placeholder="请输入您的注册邮箱">
    </div>
    <div class="item clearfix">
      <p><span class="fr">已有账号?&nbsp;点我<a href="/accounts/login"><em>登录</em></a></span></p>
    </div>
  </div>
  <button class="btn" type="submit"><img src="/static/images/registration/btn-v1.png" alt=""></button>
</div>
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
