body {
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei,SimSun, sans-serif,Helvetica Neue, Helvetica;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
img {vertical-align: top;}
input,textarea{outline:none}
/*清除浮动*/
.clearfix:after{content:'.';display:block;width:0;visibility:hidden;height:0;clear:both;}
.clearfix{*zoom:1;}
/*清除浮动*/
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
em{
    font-style:normal;
}
input::-ms-clear{display:none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fb{
    font-weight:600;
}
.w{
    width:1000px;
    margin:0 auto;
    position: relative;
}