

<html>
<head>
<meta charset="utf-8">
<title>切分系统</title>
<link rel="shortcut  icon" type="image/x-icon" href="/static/images/favicon.ico" media="screen"  />
<link href="/static/css/mini-lite.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/sweetalert.css" rel="stylesheet" type="text/css" />
<link href="/static/css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="ui-layout-west">
    <div class="title">
        <div class="logo"></div><p>切分系统</p>
        {% include "dashboard/includes/custom_menu.html" %}
        <div class="copyright">©2017 LQS All Rights Reserved.</div>
    </div>
</div>
<div class="ui-layout-center">
    {% include "dashboard/includes/header.html" %}
    <div class="main">
    <div class="main-header"><p>{{ page_title }}</p></div>
    <div class="main-divide"></div>
    {% block content %}
    {% endblock %}
    </div>
</div>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<script src="{% static 'plugins/jquery/jquery-latest.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/vue/dist/vue.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/vue/dist/vue-resource@1.3.4.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/lodash/dist/lodash.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/sweetalert/dist/sweetalert.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/utils/base64.min.js' %}"
        type="text/javascript"></script>

    </body>

   {% block base_foot_script %}

   {% endblock %}

</html>
