{% extends "app_base.html" %}

{% block content %}
<div class="section">
    <div id="item-posts" class="row">
        <div class="item-sizer-small"></div>
        <div v-for="(rect, index) in rects" class="item item-sizer-small">

            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a :href="detail_uri(rect)">
                      <img :src="rect.inset_uri" alt="item-img">
                    </a>
                    <h4 class="card-title text-shadow m-0">[[rect.hans]]None</h4>
                  </div>
                <div class="card-content">
                  <a href="#!"></a>
                  <p class="row mb-1">
                    <small class="right">
                      <a href="#!">
                        <span class="new badge red accent-2" :data-badge-caption="rect.confidence"></span>
                        <span class="new badge cyan m-0" data-badge-caption="高丽藏"></span>
                      </a>
                    </small>
                    <small class="left"></small>
                  </p>
                </div>
              </div>
        </div>
    </div>
    <div class="left">
        <a class="waves-effect waves-light btn-large red">
             <i class="right material-icons ">publish</i> 发布</a>
        <a class="waves-effect waves-light btn-large ">
             <i class="right material-icons">forward</i> 继续</a>
    </div>      
</div>    
{% endblock %}

{% block base_foot_script %}
{% load static %}
<script src="{% static 'plugins/vendors/perfect-scrollbar.min.js' %}"
type="text/javascript"></script>
<script src="{% static 'plugins/vendors/masonry.pkgd.min.js' %}"
type="text/javascript"></script>
<script src="{% static 'plugins/vendors/imagesloaded.pkgd.min.js' %}"
type="text/javascript"></script>
<script src="{% static 'plugins/vendors/jquery.magnific-popup.min.js' %}"
type="text/javascript"></script>


<script type="text/javascript">
var final_val="{{ final_val }}";
window.vv=new Vue({
  el: '#item-posts',
  delimiters: ['[[', ']]'],
  data: {
    newLabel: '',
    rects: [],
    api_base: "/api/rects",
    current_id: 0,
    current: {}
  },
  mounted: function() {
    this.loadRects();
  },
  methods: {
    loadRects: function() {
        var json_server_api = this.api_base + final_val;
        this.$http.get(json_server_api).then(function (response) {
            this.rects = response.data.models;
            this.$nextTick(function(){
              var containerBlog = $("#item-posts");
              containerBlog.imagesLoaded(function() {
                containerBlog.masonry({
                  itemSelector: ".item",
                  columnWidth: ".item-sizer-small",
                })
            })})
            
        }, function(error) {
          // error callback
          console.log('Fail，网址或相关错误！\n错误码：' + error.status + "\n结果：" + error.ok);
        });
    },
    detail_uri: function(rect){
      return "/rects/" + rect.id
    },
  }
})

  $(function() {

      $('.lt-menu .menu-content').first().find('.m-submenu').first().addClass('m-active');

  });
</script>

{% endblock %}